<div id="myDIV" class="headertodo">
  <h2>My To Do List</h2>
  <input class="nhap" type="text" id="myInput" placeholder="Title...">
  <span onclick="newElement()" class="addtodoBtn">Add</span>
</div>

<ul id="myUL">
  <li class="to">Cố lên</li>
  <li class="checked">Qua gia đoạn khó sẽ đến giai đoạn cực dễ</li>
</ul>