<form method="POST" action="">
    <div class="mt-5">
        <label for="search-input">Key searh</label>
        <input type="text" name = "q" class="form-control" id="input" placeholder="Nhập từ khóa...">
    </div>

    <div class="form group">
        <label for="gender-input">Key searh</label>
        <select name = "gender" class="form-control" id="gender-input" >
            <option value="">--Chọn giới tính--</option>
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>